<div class="ql-con" id="qled">
  <h1>Tecnologia Neo Qled.</h1>
  <hr />
  <p>
    Se você tem uma tevê de led, o que é bem provável, funciona basicamente com
    um painel de led dentro dela que faz a imagem.
  </p>
  <p>
    Mas cada célula do led é grande e isso cria uma série de dificuldades porque
    você não consegue controlar o contraste da imagem de uma forma ideal, porque
    o led é grande, mas se você reduzisse os leds pro um tamanho que pode chegar
    a uma fração de milímetros, aí você pode controlar a qualidade de uma imagem
    granular especifica.
  </p>
  <h2>Mini Led</h2>
  <p>
    •mini led da tv toda tv tem dois componentes essências, o painel de led que
    f8ca no fundo e depois uma tela de lcd que fica na frente e controla a luz
    do led.
  </p>
  <p>
    O painel de led basicamente fica ligado o tempo inteiro e ele fica emitindo
    luz branca, mas pra formar uma imagem com isso aqui, o processador ( o
    cérebro da tv) vai mandar uma informação pro lcd pra ele deixar passar só a
    luz azul, porque aquele pixel lá é de cor azul, a cor que for de um pixel
    ele deixa passar, o resto ele filtra só que tem um pequeno problema quando
    você tem que mostrar a cor preta que é uma coisa muito importante para o
    contraste porque geralmente o lcd tem que bloquear a luz do led e esse
    bloqueio geralmente é muito difícil de fazer acontecer é por isso que nas
    TVs de led convencional o preto não é realmente preto, é um preto mas está
    emitindo um pouco de luz, é um preto meio acinzentado.
  </p>
  <p>e quanto mais cinza for esse preto pior é o contraste da imagem.</p>
  <p>
    Mas o que as tevês de led mais avançadas faziam até agora é uma coisa
    chamada de dimmable zones.
  </p>
  <p>
    Basicamente o televisor era dividido em áreas e quando tinha alguma área
    escura que precisa ser mostrada, ela meio que diminui o brilho daquela área
    pra exatamente poder ajudar no contraste.
  </p>
  <p>
    Mas o grande problema dessas zonas de diminuição de brilho é que elas são
    exatamente muito grandes, e por exatamente elas serem muito grandes você não
    consegue ter um controle muito precisa e também uma zona que está com o
    brilho total pode vazar pra outras zonas que estão mais apagadas.
  </p>
  <h2>como o mini led pode resolver isso?</h2>
  <p>
    a resposta está exatamente no nome mini led, o painel de mini led tem um
    tamanho muito reduzido em comparação ao led convencional, chegando a uma
    fração de milímetros ai essas células de led divididas em zonas bem pequenas
    que podem ser controladas individualmente a luz de cada uma dessas zonas
    podem ser diminuída e aumenta de acordo com a necessidade ou pode ser até
    totalmente desligada pra você ter uma parte da tela que fique totalmente
    preta se necessário.
  </p>
</div>
