<div class="so-con">
  <h1>Sobre o Trabalho T.C.F</h1>
  <hr />
  <h2>Nome da escola:</h2>
  <p>Escola Padre Lebret</p>
  <h2>Nome do trabalho:</h2>
  <p>A era digital e seus impactos na sociedade</p>
  <h2>Nome do(a) professor(a) Padrinho:</h2>
  <p>Gisella Santos</p>
  <h2>Integrantes do grupo:</h2>
  <ul class="nomes">
    <li>Camilly Vitória Demezio Gonçalves da Silva</li>
    <li>Ewerton Clarck de Oliveira</li>
    <li>Heloisa Santos Holmes</li>
    <li>José Alexsandro Ferreira</li>
    <li>José Alisson Barbosa do Nascimento</li>
    <li>Kauanny Kimberlly da Silva Bezerra</li>
    <li>Thiago Romilson de Souza nascimento</li>
  </ul>
  <h2>Desenvolvedor:</h2>
  <p>José Alisson Barbosa do Nascimento</p>
  <h2>Instagram do desenvolvedor:</h2>
  <p><a href="https://www.instagram.com/jose_alisson_14/">@jose_alisson_14</a></p>
  <h2>Arquivos do nosso trabalho:</h2>
  <ul class="arquivos">
    <li>
      <a href="https://github.com/Jose-Alisson/tcf-aedsins"
        >Repositorio do Site</a
      >
    </li>
    <li>
      <a
        href="https://docs.google.com/presentation/d/1NMFEniAp1YtZThZmNJo_PDKV1cuJNf2D/edit?usp=sharing&ouid=101583479341555375341&rtpof=true&sd=true"
        >Slides do trabalho</a
      >
    </li>
    <li>
      <a
        href="https://docs.google.com/document/d/1hDyNsNyCAIyO1mX-9nn_kZM41pM_TU9K/edit?usp=sharing&ouid=101583479341555375341&rtpof=true&sd=true"
        >Trabalho escrito do T.C.F </a
      >
    </li>
  </ul>
  <h2>Framework usado para a criação do site:</h2>
  <p>Angular CLI</p>
</div>
