<div class="me-con" id="metaverso">
  <h1>Metaverso.</h1>
  <hr />
  <p>
    O Metaverso foi citado pela primeira vez em um livro de ficção cientifica lá
    em 1992. Mas para que intendermos o que é Metaverso irei dar exemplos de
    práticas que o utilizam.
  </p>
  <p>
    Nós temos o jogo Fortinite que em especial no show do Travis Scott que
    reuniu vários jogadores online com interação direta ao show, temos também
    temos o jogo Second Life, lançado em 2003 já fazia pratica de Metaverso ou
    até mesmo o jogo Pokémon go.
  </p>
  <h2>Os Conceitos Usados para a Criação do Metaverso</h2>
  <p>Realidade virtual, realidade aumentada, realidade mista e web 3.0</p>
  <h2>Realidade Virtual:</h2>
  <p>
    para que entendermos cada coisa vamos começar por realidade virtual, o
    conceito de realidade virtual e criando por um óculo que a construção dele
    faz com que se sentirmos lá dentro daquele universo virtual.
  </p>
  <h2>Realidade aumentada:</h2>
  <p>
    diferente da realidade virtual a realidade aumentada ela depende muito da
    vida real para funcionar pôs ela projeta objetos virtuais no mundo real a
    traves dos dispositivos que faça a utilização dela, um exemplo de realidade
    aumentada é o game Pokémon go que através do seu smartphone é possível
    vermos na tela uma projeção de um Pokémon na vida real.
  </p>
  <h2>Realidade Mista:</h2>
  <p>
    essa tecnologia faz a junção da realidade virtual é realidade aumentada, é
    além do mais dessa junção conseguirmos interagir perfeitamente com o objeto
    virtual.
  </p>
  <h2>Web 3.0:</h2>
  <p>
    Para que fique fácil a explicação de web 3.0 é uma internet melhorada, do
    que conhecemos antes uma internet simples, a web 3.0 trás novidade como o
    exemplo de NFT dentre muitas outras coisas.
  </p>
  <p>
    O Metaverso não só se restringe a isso, há muita coisa por trás, através do
    Metaverso nós conseguirmos uma experiencia totalmente diferente do que
    conhecermos, e lá podemos dizer que pode se tornar o seu segundo universo
    pôs lá nos podemos trabalhar, fazer compras, viajar dentre muitas outras
    coisas que já praticamos na vida real, mas de forma melhorada, em questão da
    economia do Metaverso, poderá girar em torno de uma cripto moeda já
    existente ou não.
  </p>
  <p>
    Muitas empresas estão na disputa rumo ao Metaverso, como a Meta, Microsoft,
    Apple dentre outras marcas para ver quem será a primeira a o seu próprio
    Metaverso.
  </p>
  <p>
    Por em quanto nós não sabemos como como irá funcionar de fato se será um
    único Metaverso ou será vários, possivelmente vários pôs cada impressa
    desenvolvendo seu Metaverso teríamos vantagens ou até mesmo experiencias que
    só aquela impressa fornecera.
  </p>
  <p>
    Há projetos já sendo desenvolvido para ser o Metaverso, mas ainda não temos
    recursos para o lançamento.
  </p>
  <p>Quem sabe no futuro nós nos entraremos nele.</p>
</div>
